# Backend API URL (for production, set to https://api-alumni.mayoga.sch.id/api/v1)
NEXT_PUBLIC_API_URL=http://localhost:8000/api/v1

# Backend Base URL (for media/storage assets and direct links)
NEXT_PUBLIC_BACKEND_URL=http://localhost:8000
